.tree-node {
  color: rgb(201, 187, 0);
  background-color: rgb(79, 0, 224);
  padding: 10px;
  margin: 1vmax;
  box-shadow: 0px 0px 10px gold;
  border: 3px solid black;
  border-radius: 5px;
}

.tree-node:hover {
  border-color: yellow;
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 3px white;
  box-shadow: none;
}
