.tree {
  max-width: fit-content;
  display: block;
  left: 45%;
  top: 12vh;
  margin: auto;
  border: 2px dotted red;
  padding: 2em;
  overflow: scroll;
}

.tree-level {
  overflow: inherit;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border: 2px dotted green;
}
